* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
  background: transparent;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.style-font {
  font-family: 'Cookie', cursive;
  color: #d8ac4e;
  font-weight: 400;
}

.main-header {
  background: #000;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .nav-container .right {
  min-width: 40%;
}

.main-header .nav-container .right .logo {
  width: 120px;
}

.main-header .nav-container .left-sm {
  width: 20%;
  text-align: right;
  align-self: stretch;
  display: flex;
  align-items: center;
  /* display: none; */
}

.main-header .nav-container .left-sm i {
  color: #fff;
  font-size: 2rem;
  margin-left: auto;
  font-weight: lighter;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/slider-bg-image-2.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container .content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  width: 90%;
}

.hero .container .content .top,
.hero .container .content .bottom {
  text-align: center;
}

.hero .container .content .top .design,
.hero .container .content .top .design {
  width: 100px;
}

.hero .container .content .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 15px 0;
}

.hero .container .content .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.hero .container .content .detail {
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  line-height: 28px;
  margin: 15px 0 20px 0;
  text-align: center;
}

.hero .container .content .actions .action {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto 20px auto;
  border: 2px solid #d8ac4e;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container .content .actions .action .text {
  font-size: 0.8rem;
  margin: 0 15px 0 0;
}

.hero .container .content .actions .action i {
  color: #d8ac4e;
  font-size: 1rem;
}

.hero .container .content .bottom {
  margin: 30px 0 0 0;
}

.hero .container .dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.hero .container .dots .dot {
  min-width: 10px;
  min-height: 10px;
  background: grey;
}

.hero .container .dots .active {
  background: #d8ac4e;
}

/* about */

.about {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/body-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
}

.about .container {
  width: 90%;
  margin: auto;
  padding: 50px 0 0 0;
  max-width: 1300px;
}

.about .container .left .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.about .container .left .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.about .container .left .design {
  text-align: center;
  margin: 0 0 20px 0;
}

.about .container .left .line {
  font-size: 1.5rem;
  color: #d8ac4e;
  line-height: 35px;
  text-align: center;
  margin: 0 0 30px 0;
}

.about .container .left .detail {
  line-height: 30px;
  font-size: 1rem;
  font-weight: lighter;
  color: rgb(212, 212, 212);
  text-align: center;
}

.about .container .left .features {
  padding: 50px 0 20px 0;
}

.about .container .left .features .feature {
  margin: 0 auto 40px auto;
  width: 200px;
}

.about .container .left .features .feature .upper {
  padding: 15px 15px 0 15px;
  background: #000;
}

.about .container .left .features .feature .upper .cont {
  border: 1px solid rgb(75, 75, 75);
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.about .container .left .features .feature .upper .cont .icon {
  width: 50%;
}

.about .container .left .features .feature .lower {
  padding: 0 15px 15px 15px;
  background: #d8ac4e;
  box-shadow: inset 0 10px 30px -7px rgba(0, 0, 0, 0.4);
}

.about .container .left .features .feature .lower .cont {
  border: 1px solid rgb(202, 202, 202);
  padding: 30px 20px;
  border-top: none;
}
.about .container .left .features .feature .lower .cont .title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.about .container .right .cont .cont-img {
  width: 100%;
}

.offers {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/special-menu-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.offers .container {
  padding: 80px 0 0px 0;
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

.offers .container .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.offers .container .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.offers .container .design {
  text-align: center;
  margin: 0 0 20px 0;
}

.offers .offers-cont .offer {
  background: #000;
  padding: 40px 20px;
  margin: 0 0 30px 0;
}

.offers .offers-cont .offer .name {
  text-align: center;
  font-size: 1.9rem;
  color: #fff;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.offers .offers-cont .offer .discount {
  background: #d8ac4e;
  color: #000;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
  width: 120px;
  margin: 0 auto 13px auto;
  font-size: 1.3rem;
}

.offers .offers-cont .offer .price {
  text-align: center;
  font-weight: lighter;
  font-size: 1.8rem;
  margin: 0 0 30px 0;
}

.offers .offers-cont .offer .detail {
  text-align: center;
  line-height: 25px;
  color: rgb(212, 212, 212);
  margin: 0 0 30px 0;
}

.offers .offers-cont .offer .btn-primary {
  padding: 15px 20px;
  margin: 0 auto 0px auto;
  border: 2px solid #d8ac4e;
  color: #d8ac4e;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offers .offers-cont .offer .btn-primary .text {
  font-size: 0.8rem;
  margin: 0 15px 0 0;
}

.offers .offers-cont .offer .btn-primary i {
  color: #d8ac4e;
  font-size: 1rem;
}

.offers .offers-cont .offer-img-cont {
  margin: 0 0 30px 0;
  height: 600px;
  overflow: hidden;
}

.offers .offers-cont .offer-img-cont .food-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.menu {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/body-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.menu .container {
  padding: 80px 0 20px 0;
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

.menu .container .upper .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.menu .container .upper .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.menu .container .upper .design {
  text-align: center;
  margin: 0 0 20px 0;
}

.menu .container .menu-options {
  margin: 20px 0;
}

.menu .container .menu-options .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  margin: 0 0 10px 0;
  background: #000;
}

.menu .container .menu-options .option .name {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #d8ac4e;
}

.menu .container .menu-options .option i {
  color: rgb(212, 212, 212);
}

.menu .container .menu-options .menu-cont {
  margin: 30px 0;
}

.menu .container .menu-options .menu-cont .showcase-img-cont {
  position: relative;
}

.menu .container .menu-options .menu-cont .showcase-img-cont .shapeover {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 1px solid grey;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.menu .container .menu-options .menu-cont .showcase-img-cont .showcase-img {
  width: 100%;
}

.menu .container .menu-options .menu-cont .menu-items {
  margin: 30px 0 10px 0;
}

.menu .container .menu-options .menu-cont .menu-items .item {
  padding: 0 0 20px 0;
  margin: 0 0 30px 0;
  border-bottom: 3px dotted grey;
}

.menu .container .menu-options .menu-cont .menu-items .item .upper {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.menu .container .menu-options .menu-cont .menu-items .item .upper .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .container .menu-options .menu-cont .menu-items .item .main-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .container .menu-options .menu-cont .menu-items .item .main-details {
  margin: 20px 0;
}

.menu
  .container
  .menu-options
  .menu-cont
  .menu-items
  .item
  .main-details
  .left {
  font-size: 1.3rem;
}

.menu
  .container
  .menu-options
  .menu-cont
  .menu-items
  .item
  .main-details
  .right {
  font-size: 1.4rem;
  color: #d8ac4e;
}

.menu .container .menu-options .menu-cont .menu-items .item .sub-detail {
  font-size: 1.1rem;
  color: rgb(212, 212, 212);
  line-height: 25px;
}

.popular-dishes {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/popular-menu-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.popular-dishes .container {
  padding: 80px 0 20px 0;
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

.popular-dishes .container .upper .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.popular-dishes .container .upper .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.popular-dishes .container .upper .design {
  text-align: center;
  margin: 0 0 40px 0;
}
.popular-dishes .container .main-content .dish {
  margin: 0 0 50px 0;
  position: relative;
}

.popular-dishes .container .main-content .dish .shapeover {
  position: absolute;
  width: 90%;
  height: 94%;
  border: 2px solid #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.popular-dishes .container .main-content .dish .top .food-img {
  width: 100%;
  display: block;
}

.popular-dishes .container .main-content .dish .bottom {
  background: #d8ac4e;
  padding: 0 0 30px 0;
}

.popular-dishes .container .main-content .dish .bottom .cont {
  width: 70%;
  margin: auto;
}

.popular-dishes .container .main-content .dish .bottom .cont .price {
  padding: 10px 0;
  font-size: 1.5rem;
  background: #000;
  width: 100px;
  margin: 0 auto 0px auto;
  color: #fff;
  text-align: center;
  transform: translate(0, -50%);
}

.popular-dishes .container .main-content .dish .bottom .cont .name {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.popular-dishes .container .main-content .dish .bottom .cont .design-cont {
  text-align: center;
  margin: 0 0 20px 0;
}

.popular-dishes .container .main-content .dish .bottom .cont .button-inv {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto 20px auto;
  border: 1px solid #000;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-dishes .container .main-content .dish .bottom .cont .button-inv .text {
  font-size: 0.8rem;
  margin: 0 15px 0 0;
}

.popular-dishes .container .main-content .dish .bottom .cont .button-inv i {
  color: #000;
  font-size: 1rem;
}

.book {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/book-table-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.book .container {
  padding: 80px 0 80px 0;
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

.book .container .upper .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.book .container .upper .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.book .container .upper .design {
  text-align: center;
  margin: 0 0 40px 0;
}

.book .container .book-form {
  background: #d8ac4e;
  padding: 25px;
}

.book .container .book-form .content {
  padding: 10px 30px 30px 30px;
  border: 2px solid #ebd096;
}

.book .container .book-form .content input,
.book .container .book-form .content textarea {
  width: 100%;
  padding: 20px 10px 20px 0;
  margin: 0 0 0px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1rem;
}

.book .container .book-form .content .button-inv {
  width: 100%;
  padding: 20px 0;
  margin: 40px auto 0px auto;
  border: 2px solid #000;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book .container .book-form .content .button-inv .text {
  font-size: 0.8rem;
  margin: 0 15px 0 0;
}

.book .container .book-form .content .button-inv i {
  color: #000;
  font-size: 1rem;
}

.testi {
  background: url('http://kalanidhithemes.com/live-preview/landing-page/BiteMe/html/black-version/images/reviews-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
}

.testi .container {
  padding: 80px 0 80px 0;
  width: 90%;
  margin: auto;
  max-width: 1300px;
}

.testi .container .upper .sub-head {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  text-align: center;
}

.testi .container .upper .main-head {
  text-transform: uppercase;
  color: #eee;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
}

.testi .container .upper .design {
  text-align: center;
  margin: 0 0 80px 0;
}

.testi .container .testi-content .testimonial {
  background: #000;
  padding: 20px;
  position: relative;
}

.testi .container .testi-content .testimonial .img-cont {
  width: 100px;
  border-radius: 50%;
  margin: auto;
  height: 100px;
  overflow: hidden;
  transform: translate(-50%,-40%);
  position: absolute;
  top: 0;
  left: 50%;
}

.testi .container .testi-content .testimonial .cont {
  width: 100%;
  padding: 80px 0px 50px 0;
  border: 1px solid #555;
}

.testi .container .testi-content .testimonial .img-cont .testi-img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}

.testi .container .testi-content .testimonial .cont .review {
  color: #c0bebf;
  width: 90%;
  text-align: center;
  line-height: 28px;
  font-size: 1rem;
  margin: 0 auto 30px auto;
  letter-spacing: 1px;
}

.testi .container .testi-content .testimonial .cont .name {
  text-align: center;
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

.testi .container .testi-content .testimonial .cont .prof {
  text-align: center;
  color: #c0bebf;
}

@media (min-width: 340px) {
  .hero .container .content {
    top: 50%;
  }
  .hero .container .dots {
    display: flex;
  }
}
